<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Planets</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <div class="home__playlists">
            {% for surface in surfaces %}
        
                <div class="playlist mb-5">
                    <h3 class="title is-3 has-text-success">{{surface.surface}}</h3>
                    <hr />
        
                    {% for info in surface.moons.all %}
        
                        <div class="song">
                            <span>{{forloop.counter}}</span>
                            <span><b>{{info.surface}}</b></span>
                            <span>
                                <a href="{% url 'surface_info_assoc' surface.pk info.pk %}?assoc=remove" class="button is-danger is-outlined">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                                </a>
                            </span>
                        </div>
        
                    {% endfor %}
                </div>
            {% empty %} 
                <div class="playlist mb-5">"No info"</div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>