<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{planet.img}}" alt="{{planet.name}}" />
</div>
<div class="detail__name">
    {% if planet.verified_planet %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{planet.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'planet_update' planet.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{planet.bio}}</p>
    </div>
</div>

{% endblock %}